<script type="text/javascript">
function downloadStylesheetAtOnload(href) {
    var element = document.createElement("link");
    element.href = href;
    element.rel = 'stylesheet';
    element.type = 'text/css';
    document.body.appendChild(element);
}

function loadAfterContentLoaded(href) {
    if (window.addEventListener)
        window.addEventListener("load", downloadStylesheetAtOnload(href), false);
    else if (window.attachEvent)
        window.attachEvent("onload", downloadStylesheetAtOnload(href));
    else window.onload = downloadStylesheetAtOnload(href);
}

loadAfterContentLoaded('https://fonts.googleapis.com/css?family=Open+Sans:400,300,700');
loadAfterContentLoaded('https://fonts.googleapis.com/css?family=Lora:400,700');
</script>