<script type="text/javascript">
function loadAfterContentLoaded(href) {
    var cb = function() {
        var l = document.createElement('link');
        l.rel = 'stylesheet';
        l.href = href;
        var h = document.getElementsByTagName('head')[0];
        h.parentNode.insertBefore(l, h);
    };
    var raf = requestAnimationFrame || mozRequestAnimationFrame ||
        webkitRequestAnimationFrame || msRequestAnimationFrame;
    if (raf) raf(cb);
    else window.addEventListener('load', cb);
}

loadAfterContentLoaded('https://fonts.googleapis.com/css?family=Open+Sans:400,300,700');
loadAfterContentLoaded('https://fonts.googleapis.com/css?family=Lora:400,700');
</script>
