{{ define "main" }}
  <div class='css-pattern-bg hx-mx-auto hx-flex'>
    {{ partial "sidebar.html" (dict "context" . "disableSidebar" true "displayPlaceholder" true) }}
    {{ partial "toc.html" . }}
    <article class="hx-w-full hx-break-words hx-flex hx-min-h-[calc(100vh-var(--navbar-height))] hx-min-w-0 hx-justify-center hx-pb-8 hx-pr-[calc(env(safe-area-inset-right)-1.5rem)]">
      <main class="hx-w-full hx-min-w-0 hx-max-w-6xl hx-px-6 hx-pt-4 md:hx-px-12">
        <div style="text-align: center; margin: 0 auto; max-width: 600px;">
          <img src="profile.png" alt="profile" width="140" style="display: block; margin: 1em auto 2em auto;"/>
          <p><strong>Android Engineer. Opensource enthusiast.</strong></p>
          <p>Restarting: because invalidate caches didn't work.</p>
      </div>
      
        <div class="content">
          {{ .Content }}
        </div>
      </main>
    </article>
  </div>
{{ end }}
